html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;
}

.bg {
    background-color: #D5FF40;
    height: 768px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

body {
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D5FF40;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    transition: top 0.5s;
    font-size: 22px;
}
  
.li {
    float: left;
}
  
.nav {
    display: block;
    color: #171717;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
}
  
.nav:hover {
    background-color: #171717;
    color: #D5FF40;
}

.active {
    text-decoration-line: underline;
    text-decoration-color: #171717;
    text-decoration-thickness: 2px;
    color: #171717;
}

.fr {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    width: 50px;
    height: 59px;
    cursor: pointer;
    margin-top: 4px;
}

body {
    background: #171717;
}
  
.content {
    max-width: 67%;
    margin: auto;
    padding: 65px;
}

.contentnav {
    max-width: 67%;
    margin: auto;
}

.foto {
    width: 35%;
    float: right;
}

.lp {
    max-width: 67%;
    margin: auto;
    padding: 75px;
}

.head1 {
    float: left;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 47.5px;
    color: rgba(23, 23, 23, 0.8);
    margin-top: 75px;
}

.head2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 67.5px;
    color: #171717;
}

.brh {
    display: block;
    margin-bottom: -0.35em;
}


.head3 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(23, 23, 23, 0.8);
}

.brp {
    display: block;
    margin-bottom: -0.25em;
}

.br {
    display: block;
    margin-bottom: 0.5em;
}

.brb {
    display: block;
    margin-bottom: -0.5em;
}

.emailicon {
    width: 25%;
    margin-left: -5px;
}

.dlicon {
    width: 2%;
    margin-left: 10px;
}

.dcv {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #171717;
    text-decoration-line: none;
}

h1 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    font-size: 67.5px;
    color: #fff;
    text-decoration-line: none;
}

h2 {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: #fff;
    text-decoration-line: none;
}

.titik {
    color: #D5FF40;
}

p {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration-line: none;
}

.square {
    height: 50px;
    width: 50px;
    border: 2.5px solid rgba(255, 255, 255, 0.2);
}

h1.s1 {
    width: 400px;
    height: 75px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration-line: none;
    border: 2.5px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    padding-left: 25px;
}

h1.s1:hover {
    color: #ffffff;
    border: 2.5px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.extlink1 {
    width: 41px;
    float: right;
    padding-top: 19.5px;
    padding-right: 25px;
    display: none;
}

h1.s2 {
    float: right;
    width: 400px;
    height: 75px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration-line: none;
    border: 2.5px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    padding-left: 25px;
    margin-top: -118px;
    margin-right: 16px;
}

h1.s2:hover{
    color: #ffffff;
    border: 2.5px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.extlink2 {
    width: 41px;
    float: right;
    padding-top: 19.5px;
    padding-right: 25px;
    display: none;
}

a {
    text-decoration-line: none;
}

h1.s3 {
    float: right;
    width: 300px;
    height: 324px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration-line: none;
    border: 2.5px solid rgba(255, 255, 255, 0.2);
    margin-top: 1px;
    padding-left: 25px;
    margin-right: 16px;
}

h1.s3:hover {
    color: #ffffff;
    border: 2.5px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
}

.extlink3 {
    width: 41px;
    float: right;
    padding-top: 22px;
    padding-right: 25px;
    display: none;
}

.bgcontact {
    margin-right: 200px;
    background-color: #D5FF40;
}

.contact {
    float: left;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #171717;
    text-decoration-line: none;
    border: none;
}

.brs {
    display: block;
    margin-bottom: 50px;
}

.form {
    margin-top: -50px;
    border: none;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    font-size: 28px;
    text-align: left;
    letter-spacing: 0px;
    color: #171717;
    padding-bottom: 9px;
    background-color: #D5FF40;
    border-width: 0px 0px 2.5px;
    border-color: #171717;
}

::placeholder {
    color: rgba(23, 23, 23, 0.5);
}

input[type=submit] {
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 700;
    font-size: 26px;
    background-color: #171717;
    border: none;
    color: #ffffff;
    padding: 8px 34px 12px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: -10px;
}

.footer {
    float: left;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #ffffff;
    text-decoration-line: none;
    border: none;
}

a.mail {
    text-decoration-line: underline;
    text-decoration-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
}